<footer class="footer">
      <div class="footer-container">
        <div class="row">
          <div class="col-md-12">
              <a href="{{ site.baseurl }}/">Home</a> |
              <a href="{{ site.baseurl }}/data.json">data.json</a> |
              <a target="_blank" href="{{ site.code }}">Code</a>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12"><h6><span style="margin-right:4px;font-weight:bold;">Disclaimer:</span>{{ site.disclaimer | markdownify }}</h6></div>
      </div>
    </div>
</footer>
